*{
    box-sizing: border-box;
}

body{
   margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(0, 0, 0);
    background-image: url("./../bg/BG.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    color:aliceblue;
}
/* base*/


.container-wide{
    margin: 0 auto;
    width: 1790px;
    padding: 0 15px;
}
.row{
    display: flex;
}
.space-between{
    justify-content: space-between;
}




/*header*/
.header{
    padding-top: 64px;
    padding: bottom 843px;;

}
.nav-wr{
    margin-bottom: 198px;

}
.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size:32px;
}
    
        
    
    .nav ul{
        display:flex;
        margin:0;
        padding: 0;
        list-style-type:none;

    }
    .nav li+li{
        margin-left: 40px;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        font-weight: 700;
        
    }
    nav.a{
        color: white;
        text-decoration: none;
        font-weight: 700;
        color: azure;
        transition: color 0.2s ease-in;

    } 
    .nav a:hover{
        color:yellow
    }
    
    .login{
        font-size: 18px;
        font-weight:700;
        text-decoration: none;
        color:whitesmoke;
        
    } .login:hover{
        color:yellow
    }
   /* hero */

   .hero{
    display: block;
    margin-left:auto;
    margin-right:auto;
   
    max-width:980px;
    padding-left: 15px;
    padding-right: 15px;
   }
.hero-category{
   
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    
   

}
.hero-tytel{ 
    font-family: Snell Roundhand, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    
   
}
/*articl*/
      .main{
        margin-top: -900px;
      }

    .article{
        margin-top: 900px;
        display: flex;
        justify-content:space-between ;
        align-items: center;

      }
      .article:nth-child(odd){
        flex-direction: row-reverse;
      }

       .article-subtit{
        padding: left 150px; 
        position: relative;
        font-family: Brush Script MT, Brush Script Std, cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.222;
    text-transform: capitalize;
    color: #FFFFFF;
    


       }

     .article-title{
        width: 632px;
height: 160px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 1.2;
color: #FFFFFF;
     }
     .article-text{
        padding-left: 150px;
        width: 632px;
height: 160px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;

     }

    .article-text2{
        background-color:red;


    }

